.App {
  text-align: center;
  background-color: #9b4dca; /* Couleur mauve */
  color: white;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-top: 20px;
}

button {
  background-color: #ffb74d; /* Couleur bouton */
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #ff9800;
}
